Repository deephdc/DEEP-OC-phytoplankton-classification-tf: changes, and which Jenkins stages are due for each by the changed paths.
All: Docker image building, Docker Hub delivery, Render metadata on the marketplace

Jenkinsfile:

#!/usr/bin/groovy

@Library(['github.com/indigo-dc/jenkins-pipeline-library@1.2.3']) _

pipeline {
    agent {
        label 'docker-build'
    }

    environment {
        dockerhub_repo = "deephdc/deep-oc-phytoplankton-classification-tf"
        tf_ver = "1.12.0"
        py_ver = "py3"
    }

    stages {
        stage('Docker image building') {
            when {
                allOf {
                    changeset 'Dockerfile'
                    anyOf {
                        branch 'master'
                        branch 'test'
                        buildingTag()
                    }
                }
            }
            steps{
                checkout scm
                script {
                    id = "${env.dockerhub_repo}"
                    
                    if (env.BRANCH_NAME == 'master') {
                        // CPU
                        id_cpu = DockerBuild(
                            id,
                            tag: ['latest', 'cpu'],
                            build_args: [
                                "tag=${env.tf_ver}",
                                "pyVer=${env.py_ver}",
                                "branch=master"
                            ]
                        )
                        // GPU
                        id_gpu = DockerBuild(
                            id,
                            tag: ['gpu'],
                            build_args: [
                                "tag=${env.tf_ver}-gpu",
                                "pyVer=${env.py_ver}",
                                "branch=master"
                            ]                            
                        )
                    }
                    if (env.BRANCH_NAME == 'test') {
                        // CPU
                        id_cpu = DockerBuild(
                            id,
                            tag: ['test', 'cpu-test'],
                            build_args: [
                                "tag=${env.tf_ver}",
                                "pyVer=${env.py_ver}",
                                "branch=test"
                            ]
                        )
                        // GPU
                        id_gpu = DockerBuild(
                            id,
                            tag: ['gpu-test'],
                            build_args: [
                                "tag=${env.tf_ver}-gpu",
                                "pyVer=${env.py_ver}",
                                "branch=test"
                            ]                            
                        )
                    }
                }
            }
        }
          
        stage('Docker Hub delivery') {
            when {
                allOf {
                    changeset 'Dockerfile'
                    anyOf {
                        branch 'master'
                        branch 'test'
                        buildingTag()
                    }
                }
            }
            steps {
                script {
                    DockerPush(id_cpu)
                    DockerPush(id_gpu)
                }
            }
            post {
                failure {
                    DockerClean()
                }
                always {
                    cleanWs()
                }
            }
        }

        stage("Render metadata on the marketplace") {
            when {
                allOf {
                    branch 'master'
                    changeset 'metadata.json'
                }
            }
            steps {
                script {
                    def job_result = JenkinsBuildJob("Pipeline-as-code/deephdc.github.io/pelican")
                    job_result_url = job_result.absoluteUrl
                }
            }
        }
    }
}

remove conditionals
  Jenkinsfile
Due: none

upgrade to deepaas 0.4
  Dockerfile
Due: Docker image building, Docker Hub delivery

add metadata validator
  Jenkinsfile
Due: none

update containers
  Dockerfile
  metadata.json
Due: Docker image building, Docker Hub delivery, Render metadata on the marketplace

fix Jenkinsfile
  Jenkinsfile
Due: none

Update metadata.json
  metadata.json
Due: Render metadata on the marketplace

add jupyter lab
  Dockerfile
  Jenkinsfile
  README.md
Due: Docker image building, Docker Hub delivery

inherit common image
  Dockerfile
  Jenkinsfile
Due: Docker image building, Docker Hub delivery

fix metadata
  metadata.json
Due: Render metadata on the marketplace

fixes
  images/phytoplankton.png
  metadata.json
Due: Render metadata on the marketplace

fix tags
  metadata.json
Due: Render metadata on the marketplace

move to deepaas v2
  README.md
  metadata.json
Due: Render metadata on the marketplace

fix links
  Dockerfile
Due: Docker image building, Docker Hub delivery

fix links
  metadata.json
Due: Render metadata on the marketplace
